
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
}

:root{
    --main-color:hsl(233, 47%, 7%);
    --card-color:hsl(244, 38%, 16%);
    --accent-color:hsl(277, 64%, 61%);
    --heading-color:hsl(0, 0%, 100%);
    --para-color:hsla(0, 0%, 100%, 0.75);
    --stat-color:hsla(0, 0%, 100%, 0.6);
}
body{
    background-color: var(--main-color);

}

.container{
   display: flex;
   align-items: center;
   border-radius: 10px;
   overflow:hidden;
   box-shadow:0 0 10px rgba(0,0,0,0.2);
   background-color: var(--card-color);
   margin:50px;
   
    

}

.image img{
    width: 100%;
    height: auto;
    
   
}

.image{
    background-color: var(--accent-color);
    opacity:35%;
}

.information{
    margin:30px;
    padding: 20px;
    color: var(--heading-color);
    font-family: "inter", sans-serif;
}



.information h2{
    font-size: 24px;
    margin-bottom: 30px;
 
    color: var(--heading-color);
    font-family: "inter", sans-serif;
    
}
.information span {
    color: var(--accent-color);
}

.information p{
    font-size: 14px;
    color:var(--para-color);
    margin-bottom: 50px;
    font-family: "lexend Deca", sans-serif;
    word-spacing: 3px;
    
}

.stats{
    display:flex;
    justify-content: space-between;
   
    bottom:50px;
    
}
 
.stat{
    flex:1;
   
}
.stat h3{
    font-size: 20px;
    color:var(--heading-color);
    padding-bottom: 10px;
}

.stat p {
    font-size: 10px;
    --stat-color: hsla(0, 0%, 100%, 0.6);
    font-family: "lexend Deca", sans-serif;
    letter-spacing: 2px;
   
}

@media screen and (max-width:650px) {

    .container{
        flex-direction: column-reverse;
        max-width:350px;
       

    }
    .image{
        width: 100%;
        height: auto;
    }

    .information{
        padding:24px;
        text-align: center;
    }

    .information h2{
        font-size: 24px;
        color:var(--heading-color);
        margin-bottom: 10px;
    }

         .information p {
             font-size: 14px;
        margin-bottom: 24px;
        color: var(--para-color);
               
     }

     .stats{
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
     }

     .stat h3{
        font-size: 32px;
        margin-bottom: 5px;
     }

     .stat p{
        font-size: 14px;
     }

         .image img {
             width: 100%;
             height: auto;
         }

         .image {
             background-color: var(--accent-color);
             opacity: 35%;
         }


    
}





